@model ProjetoWebWkTechnology.Domain.Entities.Produto
@{
    ViewData["Title"] = "Editar Produto";
}

<div class="container-fluid">
    <h1 class="text-center">Editando Produto @Model.Nome</h1>
    <div class="card px-5 py-3">
        <form asp-controller="Produto" asp-action="Editar" method="post" enctype="multipart/form-data" autocomplete="off">
            <div class="row">

                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="CategoriaId" />

                    <div class="form-group col-xl-6 col-md-12">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" type="text" class="form-control" maxlength="50" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                    <div class="form-group col-xl-6 col-md-12">
                    <label asp-for="Descricao" class="control-label">Descrição</label>
                    <input asp-for="Descricao" type="text" class="form-control" maxlength="100" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>

                    <div class="form-group col-xl-6 col-md-12">
                    <label asp-for="Marca" class="control-label"></label>
                    <input asp-for="Marca" type="text" class="form-control" maxlength="50" />
                    <span asp-validation-for="Marca" class="text-danger"></span>
                </div>

                    <div class="form-group col-xl-6 col-md-12">
                    <label asp-for="PrecoInformado" class="control-label">Preço</label>
                    <input asp-for="PrecoInformado" id="currency" type="text" class="form-control" maxlength="50" />
                    <span asp-validation-for="PrecoInformado" class="text-danger"></span>
                </div>

                <div class="form-group col-md-12 col-sm-12">
                    <label asp-for="CategoriaSelecionada">Categoria</label>
                    <select asp-for="CategoriaSelecionada" class="form-control selectpicker" asp-items="ViewBag.categoriasExistentes" data-live-search="true" data-dropup-auto="false">
                        <option value="">Selecione...</option>
                    </select>
                </div>

                <div class="justify-content-start my-3 col-6" style="display:flex">
                    <a class="btn btn-warning btn-round text-light btn-block" asp-controller="Produto" asp-action="Index">
                        <i class="bi bi-arrow-left"></i> Voltar
                    </a>
                </div>

                <div class="justify-content-end my-3 col-6" style="display:flex">
                    <button type="submit" class="btn btn-success btn-round  btn-block">
                        <i class="bi bi-save"></i> Salvar
                    </button>
                </div>

            </div>
        </form>
    </div>
</div>



<script type="text/javascript" src="~/js/ValidacaoInputMoeda.js"></script>
