@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center my-5">
    <h1 class="display-4 mb-1"><b>Bem-Vindo</b></h1>
    <p>Este projeto foi criado por <b>Arlisson Jesus Barbosa Menacho</b>, como participação de um teste técnico para a empresa <b>Wk Technology</b></p>
    <ul class="justify-content-start">
      <b>  Dados Para contato</b>
        <li>
           <b> Linkedin:</b>  <a href="https://www.linkedin.com/in/arlissonmenacho/">https://www.linkedin.com/in/arlissonmenacho/</a>
        </li>
        <li>
           <b>Número de telefone:</b>  (69) 9 9361-0339
        </li>
        <li>
           <b> E-mail:</b>  Arlissonmenacho@gmail.com
        </li>
    </ul>
</div>
